version: "3.9"
networks:
  fabric_test:
    name: "fabric_test"
    external: true
  cealgull_middleware:
    name: "cealgull_middleware"

services:
  postgres:
    image: postgres
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
      - POSTGRES_USER=cealgull
      - POSTGRES_DB=cealgull
    hostname: "db.cealgull.middleware"
    healthcheck:
      test: ["CMD", "pg_isready", "-d", "cealgull", "-U", "cealgull"]
      interval: 1s
      timeout: 30s
      retries: 30
    networks:
      - cealgull_middleware

  ipfs:
    image: ipfs/kubo
    hostname: "ipfs.cealgull.middleware"
    healthcheck:
      test: ["CMD", "wget", "-qO-", "--post-data=''", "localhost:5001/api/v0/version"]
      interval: 1s
      timeout: 30s
      retries: 3
    networks:
      - cealgull_middleware

  gateway:
    build: .
    ports:
      - "8080:8080"
    volumes:
      - ./configs/config.yaml:/etc/cealgull-middleware/config.yaml:ro
      - ${HOME}/fabric-samples/test-network/organizations/peerOrganizations/org1.example.com/users:/etc/cealgull-middleware/crypto
    depends_on:
      postgres:
        condition: service_healthy
      ipfs:
        condition: service_healthy
    hostname: "gateway.cealgull.middleware"
    networks:
      - cealgull_middleware
      - fabric_test
